<div class="cover">
  <%= content_for(:title, "TrueTech | Webdesign Mechelen - Algemene Voorwaarden")  %>
  <% content_for :description, "Algemene voorwaarden van TrueTech Webdesign Mechelen" %>
<!--  HEAD SECTION  -->
    <section id="about" style="border-bottom: none;">
        <header style="background-color: #314268;">
            <nav class="effect nav-collapse">
                <ul id="menu">
                    <li><%= link_to (t "show.home"), root_path %></li>
                    <li><%= link_to (t "home.nav.about"), about_path, :class => "about" %></li>
                    <li><a class="effect contact" href="#contact"><%= t "home.nav.contact" %></a></li>
                </ul>
            </nav>
        </header>
    </section>
                                                 
<div class="legal">                                                   
<p>
    <strong>Artikel 1. Toepassing algemene voorwaarden</strong></p>
<p>
    1.1. Deze algemene voorwaarden gelden op alle aanbiedingen van en op alle overeenkomsten met TrueTech, ook al staan er strijdige bepalingen vermeld op documenten van de klant. Door het plaatsen van een bestelling aanvaardt de klant de algemene voorwaarden van TrueTech.</p>
<p>
    <strong>Artikel 2. Aanbiedingen en offertes - orderbevestiging</strong></p>
<p>
    2.1. Alle aanbiedingen en offertes van TrueTech zijn vrijblijvend tot op het ogenblik van de aanvaarding door de klant. De overeenkomst komt tot stand wanneer de klant de offerte ongewijzigd binnen de 15 dagen voor akkoord ondertekent en terugzendt naar TrueTech. Elke bestelling of orderbevestiging door de klant, verbindt de klant aan de overeenkomst. De ondertekende offerte (koopcontract) vervangt alle eerder afgesloten mondelinge en/of schriftelijke akkoorden. De uitvoering van de bestelling start vanaf&nbsp;ontvangst van het voorschot.&nbsp;<br>
    2.2 Alle wijzigingen in scope/functionaliteiten tijdens en/of na het traject worden, in regie uitgevoerd aan het op dat ogenblik geldende uurtarief, tenzij anders afgesproken.</p>
<p>
    <strong>Artikel 3. Annulatie van de bestelling</strong></p>
<p>
    3.1. De vrijblijvende annulatie van een bestelling door de klant is mogelijk zolang TrueTech haar werkzaamheden nog niet heeft aangevat. Anders wordt een schadevergoeding van 30% van de overeengekomen prijs aangerekend</p>
<p>
    <strong>Artikel 4. Levering</strong></p>
<p>
    4.1. De datum van levering wordt slechts als aanwijzing opgegeven en bindt TrueTech niet. Vertraging in de levering geeft de klant geen recht op schadevergoeding of prijsvermindering, noch op ontbinding van de overeenkomst.<br>
    4.2. Indien de partijen uitdrukkelijk een bindende leveringstermijn zijn overeengekomen, wordt deze termijn verlengd indien de klant in gebreke blijft om informatie, documenten, originelen of beelden (tijdig) over te maken en de verbeterde proeven (tijdig) te aanvaarden, of indien de klant bijkomende bestellingen plaatst.</p>
<p>
    <strong>Artikel 5. Risico</strong></p>
<p>
    5.1. Alle goederen die toebehoren aan de klant en zich bij TrueTech bevinden, worden er bewaard op risico van de klant.</p>
<p>
    <strong>Artikel 6. Betalingsmodaliteiten</strong></p>
<p>
    6.1. Tenzij anders overeengekomen, zijn de facturen van TrueTech contant betaalbaar. Betwistingen dienen binnen de zeven werkdagen na verzending van de factuur per aangetekend schrijven aan TrueTech kenbaar gemaakt te worden. Een betwisting kan in geen geval een uitstel of schorsing van betaling verantwoorden.<br>
    6.2. Alle facturen zijn betaalbaar op hun vervaldag door overschrijving op het rekeningnummer van TrueTech. Elke betaling wordt aangerekend op de oudste vervallen factuur, en eerst op de verschuldigde intresten en kosten. Toegestane kortingen vervallen bij het niet respecteren van de algemene verkoopsvoorwaarden.<br>
    6.3. Indien de klant niet overgaat tot betaling binnen 8 dagen na ontvangst van een aanmaning hiertoe door TrueTech, is de klant aan TrueTech&nbsp;een nalatigheids-intrest&nbsp;verschuldigd aan de intrestvoet bepaald in artikel 5 van de Wet van&nbsp;02/08/2002 ter Bestrijding van de Betalingsachterstand bij&nbsp;Handelstransacties. Er wordt ook een forfaitaire schadevergoeding in rekening gebracht van 10% van het factuurbedrag met een minimum van 125 EUR. De verschuldigde intrest wordt berekend vanaf de datum&nbsp;van aanmaning tot aan de volledige betaling. Bovendien behoudt TrueTech zich het recht voor om de verdere uitvoering van haar verbintenissen op te schorten totdat de klant de vervallen facturen heeft betaald. Elke vertraging in de betaling door de klant maakt alle verschuldigde sommen ineens opeisbaar.<br>
    De klant mag in dat geval de door TrueTech gemaakte creaties niet gebruiken.<br>
    6.4 Oplevering van uitgevoerde werken kan pas gebeuren na betaling van 90% van de facturen. De overdracht van de broncode en de intellectuele eigendomsrechten verbonden aan het visuele ontwerp van de website, kunnen pas plaatsvinden nadat de klant de volledige som van het contract betaald heeft.<br>
    6.5 Webprojecten die on hold zijn gezet door de klant geven geen aanleiding tot schorsing van betaling.<br>
    6.6. TrueTech is gerechtigd de overeenkomst met onmiddellijke ingang te beëindigen en/of de toegang tot de Diensten (vb website) geheel of gedeeltelijk en al dan niet tijdelijk te blokkeren, indien de klant één of meer van zijn verplichtingen voortspruitende uit deze Overeenkomst geheel of gedeeltelijk niet nakomt (zoals een niet-betaling van de factuur) zonder dat de Klant aanspraak kan maken op terugbetaling van vooruitbetaalde vergoedingen of enerlei schadevergoeding. TrueTech zal in elk geval de Klant hiervan op de hoogte stellen. Verder is TrueTech gerechtigd de Overeenkomst zonder nadere ingebrekestelling en van rechtswege met onmiddellijke ingang te beëindigen in het geval de Klant in staat van faillissement is verklaard, de Klant een gerechtelijk akkoord heeft gevraagd of aanvaard, of meer algemeen de Klant in staking van betaling verkeert.</p>
<p>
    <strong>Artikel 7. Aansprakelijkheid – Algemeen</strong></p>
<p>
    7.1. TrueTech verbindt zich ertoe alle te verstrekken diensten met zorg uit te voeren. Alle prestaties van TrueTech zijn middelenverbintenissen. TrueTech is niet aansprakelijk voor fouten in de uitvoering te wijten aan onvoldoende of verkeerde input door de klant. Na ontwikkeling van een website voorzien wij in een transparante overdracht en installatie. We voorzien ook een garantieperiode van 6 weken na testoplevering, voor het verwerken van technische bugs. De testoplevering geldt als voorlopige aanvaarding door de klant. Zonder schriftelijk tegenbericht wordt deze voorlopige aanvaarding na 6 weken definitief.<br>
    7.2. TrueTech kan niet aansprakelijk gesteld worden voor enige fout (zelfs een grove fout) van haar of haar aangestelden, behoudens ingeval van bedrog. TrueTech zal, wat ook de oorzaak, de vorm of het voorwerp is van de vordering waarbij de aansprakelijkheid wordt ingeroepen, in geen geval aansprakelijk kunnen worden gesteld voor enige gevolgschade zoals bijvoorbeeld verlies van verwachte winst, daling van omzet, verhoogde operationele kosten, verlies van cliënteel, welke de klant of derden zouden lijden ten gevolge van enige fout of nalatigheid van TrueTech of een aangestelde.<br>
    7.3. De aansprakelijkheid van TrueTech met betrekking tot aan de klant geleverde diensten is in elk geval beperkt tot ofwel de terugbetaling van de door de klant betaalde prijs, ofwel het opnieuw uitvoeren van de diensten, naar keuze van TrueTech. De totale aansprakelijkheid van TrueTech, zal nooit meer bedragen dan de prijs die door de klant aan TrueTech werd betaald voor de diensten die aanleiding gaven tot het schadegeval.<br>
    7.4. Wat de diensten afkomstig van derde leveranciers betreft, aanvaardt TrueTech geen enkele aansprakelijkheid boven of anders dan de aansprakelijkheid die de derde leveranciers bereid zijn te aanvaarden voor hun producten of diensten.<br>
    7.5.&nbsp; TrueTech kan niet aansprakelijk gehouden worden voor het gebruik van foto's of lettertypes geleverd en/of goedgekeurd door de klant.</p>
<p>
    <strong>Artikel 8. Aansprakelijkheid software</strong></p>
<p>
    8.1. Onverminderd artikel 7, geldt inzake software het volgende: de feilloze werking van een computerconfiguratie (het geheel van hardware en software) kan nooit volledig worden gegarandeerd, dit zowel wegens externe factoren (stroomuitval of –storing, blikseminslag,…) als wegens factoren eigen aan de computerconfiguratie (defecten, netwerkstoringen, onontdekte fouten in systeem- en toepassingssoftware,…), zodat o.m. onverwacht verlies van (zelfs alle) programma’s en/of gegevens kan optreden. De klant verbindt zich ertoe aangepaste mechanismen voor de beveiliging, de bewaring en de herstelling van gegevens te installeren.</p>
<p>
    <strong>Artikel 9. Intellectuele eigendomsrechten</strong></p>
<p>
    9.1. Onder Intellectuele Eigendomsrechten wordt verstaan: alle intellectuele, industriële en andere eigendomsrechten (ongeacht of deze geregistreerd zijn of niet), met inbegrip van, maar niet beperkt tot, auteursrechten, naburige rechten, merken, handelsnamen, logo’s, tekeningen, modellen of aanvragen tot registratie als tekening of model, octrooien, aanvragen tot octrooien, domeinnamen, know-how, alsmede rechten op databanken, computerprogramma’s en halfgeleiders.<br>
    9.2. Beide partijen aanvaarden dat het concept van een website (m.n. de opbouw van de schermen van de website, hoofdnavigatie) in beginsel niet zal worden beschermd door Intellectuele Eigendomsrechten. De Klant kan dan ook een gelijkaardige opbouw terugvinden bij andere door TrueTech ontwikkelde sites.<br>
    9.3. De Intellectuele Eigendomsrechten verbonden aan het visuele ontwerp van de door TrueTech gecreëerde website worden&nbsp;overgedragen aan de klant, na betaling (art. 6.4). Deze overdracht geldt in de meest volledige omvang, voor alle exploitatiewijzen en –vormen, voor de gehele duur van het desbetreffende recht en voor de gehele wereld. Daarenboven krijgt de klant een niet-exclusieve gebruikslicentie op alle voor de website gebruikte codes. Deze gebruikslicentie geldt voor de duur van de bescherming van de code door het auteursrecht en voor de gehele wereld. Indien de website evenwel foto’s of tekeningen bevat die niet door de klant werden aangeleverd, maar door TrueTech werden gehaald van een website die online foto’s en illustraties ter beschikking stelt al dan niet tegen betaling, dan is de gebruikslicentie die de klant op deze foto’s en tekeningen verkrijgt, afhankelijk van de voorwaarden, bepaald op de website van deze online bibliotheek. In de regel zal deze gebruikslicentie niet exclusief zijn. TrueTech verstrekt geen enkele garantie met betrekking tot deze foto’s en illustraties.<br>
    9.4. De Intellectuele Eigendomsrechten verbonden aan het CMS (d.i. de nodige software voor het beheer van de inhoud van de website) behoren exclusief toe aan TrueTech of een derde waarmee TrueTech hieromtrent een overeenkomst heeft gesloten. Mits betaling van een jaarlijkse licentievergoeding, bepaald in de offerte van TrueTech, en onder opschortende voorwaarde van de volledige betaling van deze vergoeding, verkrijgt de klant een niet-exclusieve, niet-overdraagbare gebruikslicentie op deze software. Het is de klant verboden om sublicenties aan derden toe te kennen, dan wel de software op enigerlei wijze aan derden ter beschikking te stellen, mee te delen, te gebruiken ten behoeve van derden of te commercialiseren.<br>
    9.5. De klant zal de Intellectuele Eigendomsrechten van TrueTech te allen tijde respecteren en redelijke inspanningen leveren om die rechten te beschermen. De klant zal TrueTech onmiddellijk in kennis stellen van iedere inbreuk door derden op de Intellectuele Eigendomsrechten van TrueTech waarvan hij kennis neemt.</p>
<p>
    <strong>Artikel 10. Hostingdiensten</strong></p>
<p>
    10.1. Voor de hosting werkt TrueTech samen met een gespecialiseerde hostingpartner. Een beschrijving van de hosting diensten en de aansprakelijkheid van deze partner is opgenomen in de Service Level Agreement (SLA) van deze hostingpartner. Deze SLA kan worden aangepast of gewijzigd door de hostingpartner. Op eerste verzoek van de klant bezorgt TrueTech de klant een kopie van de actuele versie van de SLA.<br>
    10.2. De hostingdiensten worden door TrueTech aan de klant verstrekt per kalenderjaar, mits betaling door de klant van de verschuldigde vergoeding. De actuele prijslijst kan worden opgevraagd op de website van TrueTech en wordt jaarlijks aangepast. Indien de klant deze dienst wenst op te zeggen, dient hij dit te doen door uiterlijk tegen 1 december zijn opzeg aan TrueTech over te maken per aangetekende brief. Bij laattijdige opzeg zal de klant de vergoeding voor het volgende kalenderjaar&nbsp;verschuldigd zijn.</p>
<p>
    <strong>Artikel 11. Domeinnaam</strong></p>
<p>
    11.1. Indien de klant een domeinnaam bestelt via TrueTech, dan komen de rechten verbonden aan deze domeinnaam uitsluitend toe aan de klant. TrueTech staat als agent in voor het beheer van de domeinnaam voor zover de klant hiertoe de verschuldigde jaarlijkse vergoeding betaalt aan TrueTech. Deze beheerovereenkomst is van onbepaalde duur en kan per aangetekende brief worden opgezegd uiterlijk één maand voor de verjaardag van de domeinnaamregistratie.</p>
<p>
    <strong>Artikel 12. Onderhoudscontract</strong></p>
<p>
    12.1 Na de contractuele garantieperiode van 6 weken werken we verder onder een onderhoudscontract/servicecontract. Zo’n onderhoudscontract laat ons toe om een vast aantal uren te reserveren in de planning om wijzigingen en ondersteuning te leveren tegen een vaste kostprijs. Het contract is 1 jaar geldig, tenzij anders werd overeengekomen.&nbsp;</p>
<p>
    <strong>Artikel 13. Beëindiging van de overeenkomst</strong></p>
<p>
    13.1. Indien de klant zich schuldig maakt aan een zware contractuele wanprestatie die de klant niet herstelt binnen de 8 dagen na ontvangst van een ter post aangetekende ingebrekestelling, heeft TrueTech het recht om ofwel (i) de overeenkomst te schorsen totdat de klant zijn verbintenissen is nagekomen, ofwel (ii) de overeenkomst met onmiddellijke ingang te beëindigen. De niet-betaling van een of meerdere facturen op hun vervaldag, zal altijd worden beschouwd als een zware contractuele wanprestatie.</p>
<p>
    <span>13.2. Bij beëindiging van de overeenkomst zal de klant alle door TrueTech verleende diensten betalen, alsook de kosten die TrueTech moet maken als gevolg van deze beëindiging, vermeerderd met een forfaitaire schadevergoeding van 30% van het bedrag dat TrueTech nog had kunnen factureren aan de klant indien de overeenkomst volledig zou zijn uitgevoerd. Het eventueel betaald voorschot blijft hoe dan ook verworven voor TrueTech. Bovendien behoudt TrueTech het recht om een hogere schadevergoeding te vorderen indien zij bewijst dat haar werkelijk geleden schade groter is dan de forfaitaire schade zoals hierboven bepaald.</span></p>
<p>
    13.3. Niettemin aanvaardt elke partij om aan de andere partij een redelijke termijn toe te kennen om haar eventuele tekortkomingen te verhelpen, en om steeds eerst te zoeken naar een minnelijke regeling.</p>
<p>
    <strong>Artikel 14. Geheimhoudingsplicht</strong></p>
<p>
    14.1. Partijen verbinden zich ertoe de commerciële en technische informatie en de bedrijfsgeheimen die zij vernemen van de andere partij, zelfs na de beëindiging van de overeenkomst, geheim te houden en enkel te gebruiken voor de uitvoering van de overeenkomst.</p>
<p>
    <strong>Artikel 15. Verwerking persoonsgegevens</strong></p>
<p>
    15.1. Voor zover de klant persoonsgegevens verwerkt op de server van TrueTech, heeft TrueTech de hoedanigheid van verwerker. De klant heeft de hoedanigheid van verantwoordelijke voor de verwerking van persoonsgegevens in de zin van de Wet Verwerking Persoonsgegevens. De klant verklaart de verplichtingen die rusten op de verantwoordelijke voor de verwerking, opgenomen in deze wet, integraal na te leven.<br>
    15.2. In het kader van de diensten voor de klant, verwerkt TrueTech persoonsgegevens van de door de klant opgegeven contactpersonen. De contactgegevens van deze personen worden verwerkt voor het doeleinde ‘klantenbeheer’, i.e. om met de klant in contact te treden m.b.t. de diensten. De contactpersonen hebben een recht van toegang en verbetering m.b.t. hun gegevens.</p>
<p>
    <strong>Artikel 16. Referentie</strong></p>
<p>
    16.1. De klant gaat ermee akkoord dat het door TrueTech voor de klant&nbsp;uitgevoerde werk&nbsp;wordt opgenomen in het referentieportfolio van TrueTech.</p>
<p>
    <strong>Artikel 17. Overmacht</strong></p>
<p>
    17.1. Overmachtsituaties zoals bijvoorbeeld stakingen, publieke onrust, administratieve maatregelen en andere onverwachte gebeurtenissen waarover TrueTech geen controle heeft, bevrijden TrueTech, voor de duur van de hinder en voor hun draagwijdte, van haar verbintenissen, zonder recht op enige prijsvermindering of schadevergoeding voor de klant.</p>
<p>
    <strong>Artikel 18. Nietigheid</strong></p>
<p>
    18.1. Indien enige bepaling van deze algemene voorwaarden nietig is, zullen de overige bepalingen volledig van kracht blijven en zullen TrueTech en de klant de nietige bepaling vervangen door een andere bepaling die het doel en de strekking van de nietige bepaling zoveel mogelijk benadert.</p>
<p>
    <strong>Artikel 19. Toepasselijk recht – bevoegde rechtbank</strong></p>
<p>
    19.1. Het Belgisch recht is van toepassing op de overeenkomsten van TrueTech. Elk geschil met betrekking tot het sluiten, de geldigheid, de uitvoering en/of de beëindiging van deze overeenkomst zal worden beslecht door de bevoegde rechtbank te Mechelen.</p>
<p>
    <strong>Contact Info</strong></p>
<p>
    TrueTech<br/>
    Kerkhoflei 5,<br/>
    2861 OLV-Waver<br/>
    0496 42 75 59<br/>
    info@truetech.be
    </p>
                                                                    </div>

                                                                    </div